// WHY CHOOSE US
.section-why-us {
  background-color: $background-color-main;
  height: auto;
  display: flex;
  justify-content: center;
}
.why-us-header {
  margin: 50px 0px 20px 0px;
}
.why-us-header-title {
  @include titulos;
  font-weight: 600;
  padding: 15px 0px 30px 0px;
}
.why-us-header-subtitle {
  @include subtitulos;
  font-size: 16px;
  margin-bottom: 30px;
}
.why-us-container-boxes {
  @include flex;
  justify-content: space-between;
}
.why-us-box {
  background-color: $background-color-choose-card;
  border-radius: 10px;
  width: 250px;
  height: 265px;
  margin: 25px;
  padding: 15px;
  color: $background-color-service-card;
  transition: all 0.8s;
}
.why-us-box:hover {
  background-color: #043161;
}
.icono-box-why-us {
  height: 63px;
  margin-top: 10px;
  font-family: $font-style-title;
  color: #aed0f3;
  text-align: center;
  font-size: 50px;
}
.why-us-box-body {
  padding: 5px;
  height: auto;
  line-height: 1.5;
  @include card;
  .why-us-tittle-box-body {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px 0px 10px;
  }
  .why-us-text-box-body {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .why-us-read-more-box-body {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: $font-color-title;
    font-weight: 700;
    text-align: center;
    transition: all 0.8s;
    margin-top: 10px;
    &:hover {
      padding: 2px;
      border-bottom: 2px solid $font-color-title;
    }
  }
}

.why-us-counter-container {
  height: 130px;
  padding-bottom: 10px;
  @include flex;
  @include card;
  font-size: 48px;
  font-weight: 700;
}
.why-us-counter-box {
  @include card;
  margin: 0 90px;
  font-size: 48px;
  font-weight: 700;
}

//
// CONTACT US
.section-contact-us {
  background-color: $background-color-service-card;
  height: auto;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}
.contact-us-container-info {
  max-width: 100%;
  padding: 30px 0 60px 0px;
  display: flex;
  flex-direction: column;
}
.contact-us-header {
  height: auto;
  .contact-us-header-title {
    @include titulos;
    margin: 10px;
    font-weight: 600;
    color: $font-color-about-title;
  }
}
.contact-us-container-map-form {
  display: flex;
  margin-top: 40px;
}
.map {
  width: 50%;
  margin: 0 15px 0 20px;
}
.contact-us-container-form {
  width: 50%;
  margin: -15px 20px 0 15px;
}
.contact-us-form-header {
  width: 98%;
  display: flex;
  justify-content: space-between;
}
.contact-us-minibox-form {
  margin-bottom: 20px;
  display: flex;
  font-family: $font-style-paragraph;
  font-size: 16px;
  color: $font-color-about-big-title;
  text-align: right;
  .fa-map-marker-alt,
  .fa-envelope,
  .fa-phone {
    color: $background-color-button;
    font-size: 22px;
    margin: 15px 5px 0px 0px;
  }
}
.contact-us-form-data {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-us-form-data-name-email,
.contact-us-form-data-subject,
.contact-us-form-data-message {
  @include contact-us-form-data;
}
.input-field {
  @include contact-us-input;
}
.input-field-message {
  @include contact-us-input;
  height: 80px;
}
.contact-us-form-data-button {
  display: flex;
  justify-content: center;
  .button-form {
    @include button-contact;
    transition: 0.3s;
    &:hover {
      background-color: $background-color-button-send-hover;
    }
  }
}

// FOOTER ⁄⁄
.section-footer {
  background-color: $background-color-main;
  height: auto;
  display: flex;
  justify-content: center;
}
.footer-top {
  width: 100%;
  height: auto;
  margin: 50px 0px 50px 0px;
  display: flex;
  justify-content: space-between;
}
.footer-card-title {
  @include footer-card-title;
  font-size: 15px;
  margin-top: 0;
}
.footer-card-text {
  @include footer-card-text;
}
.footer-card-title-wayne {
  @include footer-card-title;
  font-family: $font-style-title;
  letter-spacing: 3px;
  font-size: 34px;
  font-weight: 400;
  margin-top: 0;
}
.wayne {
  flex: 3;
  margin-right: 50px;
}
.links {
  flex: 1;
  margin-right: 50px;
}
.contact {
  flex: 2;
  margin-right: 50px;
}
.newsletter {
  flex: 3;
}
.footer-top-social-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.icon-social-footer {
  background-color: $background-color-button;
  width: 25px;
  height: 25px;
  font-size: 18px;
  color: #fff;
  padding: 6px;
  margin-right: 4px;
  border-radius: 250px;
  text-align: center;
  transition: 0.3s;
  &:hover {
    background-color: $background-color-button-send-hover;
  }
}

.fa-twitter,
.fa-facebook-f,
.fa-instagram,
.fa-google-plus-g,
.fa-linkedin-in {
  color: $font-color-title;
  margin-top: 4px;
}
.footer-card-text-list {
  list-style: none;
  text-align: left;
  padding: 0;
}
.footer-links {
  @include footer-card-text;
  text-decoration: none;
  line-height: 32px;
  transition: 0.3s;
  &:hover {
    color: $font-color-sections-subtitle-hover;
  }
}
.footer-box-newsletter-form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.footer-form-field {
  width: 70%;
  height: 20px;
  border: 0;
  padding: 6px 0px 8px 0px;
}
.footer-form-boton {
  width: 30%;
  background-color: $background-color-button;
  height: 34px;
  padding: 6px 8px;
  border: 0;
  font-family: $font-style-paragraph;
  color: $font-color-title;
  font-size: 15px;
  text-align: center;
  &:hover {
    background-color: $background-color-button-send-hover;
  }
}
.section-footer-bottom {
  background-color: $background-color-end;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-family: $font-style-paragraph;
  color: $font-color-title;
  font-size: 14px;
  text-align: center;
  line-height: 1.8;
}
