// WHY CHOOSE US
.section_why_us {
  background-color: $background-color-main;
  height: 700px;
  @include flex;
  flex-direction: column;
}
.section_header_why_us {
  height: auto;
}
.titulo-wcu {
  height: 50px;
  margin-bottom: 20px;
  @include titulos;
  font-weight: 600;
}
.subtitle-wcu {
  @include subtitulos;
  font-size: 16px;
}
.row_why_us {
  @include flex;
  justify-content: space-between;
}
.why_us_box {
  background-color: $background-color-choose-card;
  border-radius: 10px;
  width: 250px;
  height: 300px;
  margin: 25px;
  padding: 15px;
  color: $background-color-service-card;
  transition: all 0.8s;
}
.why_us_box:hover {
  background-color: #043161;
}
.icono_box_why_us {
  height: 63px;
  font-family: $font-style-title;
  color: #aed0f3;
  text-align: center;
  font-size: 45px;
}
.card_txt_box_why_us {
  height: 200px;
}
.tittle_box_why_us {
  @include card;
  font-size: 20px;
  font-weight: 600;
}
.description_txt_why_us {
  @include card;
  font-size: 15px;
}
.read_txt_why_us {
  margin-top: 50px;
  border: 0px;
  @include card;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.8s;
}
.read_txt_why_us:hover {
  text-decoration: underline;
}
.counter_container {
  height: 130px;
  @include flex;
  @include card;
  font-size: 48px;
  font-weight: 700;
}
.counter_box {
  @include card;
  margin: 0 90px;
  font-size: 48px;
  font-weight: 700;
}
//
// CONTACT US
.section_contact_us {
  height: 500px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  @include flex;
}
.section_header_contact_us {
  height: auto;
  @include titulos;
  color: $font-color-about-title;
}
.mapa-formulario-contacto {
  @include flex;
  justify-content: space-between;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 200px;
  width: 600px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

//
