// WHY CHOOSE US
.section-why-us {
  background-color: $background-color-main;
  height: auto;
  display: flex;
  justify-content: center;
}
.why-us-header {
  margin: 50px 0px 20px 0px;
}
.why-us-header-title {
  @include titulos;
  font-weight: 600;
  padding: 15px 0px 30px 0px;
}
.why-us-header-subtitle {
  @include subtitulos;
  font-size: 16px;
  margin-bottom: 30px;
}
.why-us-container-boxes {
  @include flex;
  justify-content: space-between;
}
.why-us-box {
  background-color: $background-color-choose-card;
  border-radius: 10px;
  width: 290px;
  height: 270px;
  margin: 25px;
  padding: 15px;
  color: $background-color-service-card;
  transition: all 0.8s;
}
.why-us-box:hover {
  background-color: #043161;
}
.icono-box-why-us {
  height: 63px;
  margin: 10px 0px 10px 0px;
  font-family: $font-style-title;
  color: #aed0f3;
  text-align: center;
  font-size: 50px;
}
.why-us-box-body {
  padding: 5px;
  height: 190px;
  line-height: 1.5;
  @include card;
  .why-us-tittle-box-body {
    font-size: 20px;
    font-weight: 600;
  }
  .why-us-text-box-body {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .why-us-read-more-box-body {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: $font-color-title;
    font-weight: 700;
    text-align: center;
    transition: all 0.8s;
  }
}
.why-us-read-more-box-body:hover {
  padding: 2px;
  border-bottom: 2px solid $font-color-title;
}
.why-us-counter-container {
  height: 130px;
  padding-bottom: 10px;
  @include flex;
  @include card;
  font-size: 48px;
  font-weight: 700;
}
.why-us-counter-box {
  @include card;
  margin: 0 90px;
  font-size: 48px;
  font-weight: 700;
}
//
// CONTACT US
.section-contact-us {
  background-color: $background-color-service-card;
  height: 560px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}
.contact-us-container-info {
  max-width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
}
.contact-us-header {
  height: auto;
  .contact-us-header-title {
    @include titulos;
    color: $font-color-about-title;
  }
}
.contact-us-container-map-form {
  display: flex;
  margin-top: 40px;
}
.map {
  width: 50%;
  margin: 0 15px 0 20px;
}
.contact-us-container-form {
  width: 50%;
  margin: 0 20px 0 15px;
}
.contact-us-form-header {
  width: 98%;
  display: flex;
  justify-content: space-between;
}
.contact-us-minibox-form {
  margin-bottom: 40px;
  display: flex;
  font-family: $font-style-paragraph;
  font-size: 16px;
  color: $font-color-about-big-title;
  text-align: right;
  .fa-map-marker-alt,
  .fa-envelope,
  .fa-phone {
    color: $background-color-button;
    font-size: 22px;
    margin-right: 5px;
  }
}
.contact-us-form-data {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-us-form-data-name-email,
.contact-us-form-data-subject,
.contact-us-form-data-message {
  @include contact-us-form-data;
}
.input-field {
  @include contact-us-input;
}
.input-field-message {
  @include contact-us-input;
  height: 80px;
}
.contact-us-form-data-button {
  display: flex;
  justify-content: center;
  .button-form {
    @include button-contact;
    transition: 0.3s;
  }
}
.button-form:hover {
  background-color: $background-color-main;
}
// FOOTER ⁄⁄
.section-footer {
  background-color: $background-color-main;
  height: auto;
  display: flex;
  justify-content: center;
}
