// SERVICES
.services-section {
  display: flex;
  flex-direction: column;
  background-color: $background-color-service;
  height: 900px;
}
.header-services {
  display: flex;
  align-self: center;
  flex-direction: column;
  color: $font-color-about-big-title;
  font-family: $font-style-title;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 500px;
  .titulo-services {
    font-size: $font-size-sections-title;
    text-align: center;
    font-weight: 400;
  }
  .subtitulo-services {
    font-size: 15px;
    text-align: center;
  }
}
.icon-services {
  font-size: 20px;
}
.description_txt_services_box {
  line-height: 1.8;
}
.title-services-box {
  font-weight: 700;
}
.services-boxes-card {
  @include services;
  display: flex;
  transition: all 0.4s;
  margin-top: 30px;
}
.services-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px 100px;
}
.services-boxes-card:hover {
  transform: translateY(-6px);
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;

  a {
    font-family: $font-style-title;
    font-size: $font-size-main;
    text-decoration: none;
    margin-left: 80px;
  }
  a:visited {
    color: black;
  }
  p {
    color: $font-color-paragraph;
    font-family: $font-style-paragraph;
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-right: 20px;
  }
}
// TEAM
