@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.section_services {
  background-color: #ecf5ff;
  height: 1500px;
  display: flex;
  flex-direction: column; }

.section_header_services {
  color: #444444;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  width: 500px;
  justify-content: center; }
  .section_header_services h1 {
    font-size: 36px;
    text-align: center; }
  .section_header_services p {
    font-size: 15px;
    text-align: center; }

.services_box_1,
.services_box_2,
.services_box_3,
.services_box_4,
.services_box_5,
.services_box_6 {
  width: 400px;
  height: 170px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.5); }

.columna_services {
  display: flex;
  flex-direction: column; }
